<!DOCTYPE HTML>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Dosis:400,600' rel='stylesheet' type='text/css'>
  <link href="<%= url('css/stylesheet.css') %>" rel="stylesheet" type="text/css"/>
  <title>New Song Form</title>
</head>
<body>
<div id="songlist">
  <form action="/home" method="post">
    <div id="form">
      <div><input type="text" name="title" placeholder="Title of Song" size="50"></div>
      <div><input type="text" name="artist" placeholder="Artist of Song" size="20"></div>
      <div><input type="text" name="language" placeholder="Language the song is in" size="20"></div>
    </div>
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>