<!DOCTYPE HTML>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Dosis:400,600' rel='stylesheet' type='text/css'>
  <link href="<%= url('css/stylesheet.css') %>" rel="stylesheet" type="text/css"/>
  <title>New Song Form</title>
</head>
<body>
<div id="songlist">
  <form action="/home" method="post">
    <div id="form">
      <table>
        <tr>
          <td>Title:</td>
          <td><input type="text" name="title" placeholder="Title of Song"></td>
        </tr>
        <tr>
          <td>Artist:</td>
          <td><input type="text" name="artist" placeholder="Artist of Song"></td>
        </tr>
        <tr>
          <td>Album:</td>
          <td><input type="text" name="album" placeholder="Album of Song"></td>
        </tr>
        <tr>
          <td>Language:</td>
          <td><input type="text" name="language" placeholder="Language the song is in"></td>
        </tr>
        <tr>
          <td>Youtube:</td>
          <td><input type="text" name="youtube" placeholder="Link to Youtube"></td>
        </tr>
      </table>
    </div>
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>