<!DOCTYPE HTML>
<html>
<head>
  <title>New Song Form</title>
</head>
<body>
<form action="/home" method="post">
  <div>
    <div>
      <label for="title">Title:</label>
      <input type="text" name="title" placeholder="Title of Song" size="50">
    </div>
    <div>
      <label for="artist">Artist:</label>
      <input type="text" name="artist" placeholder="Artist of Song" size="20">
    </div>
    <div>
      <label for="language">Language:</label>
      <input type="text" name="language" placeholder="Language the song is in" size="20">
    </div>
  </div>
  <input type="submit" value="Submit">
</form>
</body>
</html>