<!DOCTYPE HTML>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Dosis:400,600' rel='stylesheet' type='text/css'>
  <link href="<%= url('css/stylesheet.css') %>" rel="stylesheet" type="text/css"/>
  <title>Bebe's Favorite Music</title>
</head>
<body>
<h1>Welcome! :D</h1>

<h3>Listen to what Bebe Listens to.</h3>
<a href="/home">click to enter</a>
</body>
</html>