<!DOCTYPE HTML>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Dosis:400,600' rel='stylesheet' type='text/css'>
  <link href="<%= url('css/stylesheet.css') %>" rel="stylesheet" type="text/css"/>
  <title>Bebe's Favorite Music</title>
</head>
<body>
<div class="welcome">
  <h1>Welcome! :D</h1>
  <hr><br>

  <h3>Listen to what Bebe Listens to.</h3>
  <a href="/home">click to enter</a>
</div>
</body>
</html>