body {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    background-image: url('../images/gplaypattern.png');
}

input[type="text"] {
    margin: .5% auto;
    display: block;
    width: 80%;
    height: 20px;
    font-size: 80%;
    padding-left: 10px;
    box-shadow: 1px 1px 2px black;
    font-family: 'Dosis', sans-serif;
}

input[type="submit"] {
    display: block;
    margin: auto;
    background-color: #00747C;
    color: white;
    margin-top: 10px;
    padding: 10px;
    border-radius: 1em;
    box-shadow: 3px 3px 2px gray;
    font-size: 100%;
    font-family: 'Dosis', sans-serif;
    cursor: pointer;
    border-color: #00747C;
}

td.small {
    width: 3%;
}

input.small {
    font-size: 70%;
}

table {
    margin: 5% auto;
}

table.list {
    margin: 5% auto;
    width: 90%;
}

table.list th, table.list td.main {
    border: 1px solid black;
    background: rgba(255, 255, 255, .6);
    border-radius: .2em;
}

table.list th, table.list td {
    padding: 1%;
}

table.list th {
    background: rgba(0, 116, 124, .6);
}

#songlist {
    width: 65%;
    padding: 10%;
    margin: 7% auto;
    background: rgba(0, 187, 201, .4);
    border-radius: 1em;
    font-size: 125%;
}

#form {
    margin: auto auto 10%;
}