body {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    background-image: url('../images/gplaypattern.png');
}

input[type="text"] {
    margin: .5% auto;
    display: block;
    width: 80%;
    height: 20px;
    font-size: 80%;
    padding-left: 10px;
    box-shadow: 1px 1px 2px black;
    font-family: 'Dosis', sans-serif;
}

input[type="submit"] {
    display: block;
    margin: auto;
    background-color: #00747C;
    color: white;
    margin-top: 10px;
    padding: 10px;
    border-radius: 1em;
    box-shadow: 3px 3px 2px gray;
    font-size: 100%;
    font-family: 'Dosis', sans-serif;
    cursor: pointer;
    border-color: #00747C;
}

td.small {
    width: 3%;
}

input.small {
    font-size: 70%;
}

table {
    margin: 5% auto;
}

table.list {
    margin: 5% auto;
    width: 90%;
}

table.list th, table.list td.main {
    border: 1px solid black;
    background: rgba(255, 255, 255, .6);
    border-radius: .2em;
}

table.list th, table.list td {
    padding: 1%;
}

table.list th {
    background: rgba(0, 116, 124, .6);
}

.songlist {
    width: 65%;
    padding: 10%;
    margin: 7% auto;
    background: rgba(0, 187, 201, .4);
    border-radius: 1em;
    font-size: 125%;
}

.welcome {
    width: 65%;
    padding: 10%;
    margin: 7% auto;
    background: rgba(0, 187, 201, .4);
    border-radius: 1em;
    font-size: 125%;
    text-align: center;
}

.form {
    margin: auto auto 10%;
}

.form table {
    width: 80%;
}

.form table td:nth-child(2)  {
    width: 89%;
}

.modalDialog {
    position: fixed;
    font-family: 'Dosis', sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
}

hr {
    color: black;
    background-color: black;
    height: 2px;
    border: none;
}